# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# Produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# Translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Ignore everything in the output_files directory
# output_files/*

# Except this file
# !output_files/DISCERN_patent_database_1980_2015_final1.dta

# Ignore everything in the compustat-patent directory
compustat-patent/*

# Except the specific files
!compustat-patent/staticTranche1.csv
!compustat-patent/staticTranche2.csv
!compustat-patent/staticTranche3.csv
!compustat-patent/staticTranche4.csv
!compustat-patent/staticTranche5.csv
!compustat-patent/staticTranche6.csv
!compustat-patent/staticTranche7.csv
!compustat-patent/staticTranche8.csv